.container-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.container-recipes a {
  text-decoration: none;
}

.recipe-card {
  align-items: center;
  background-color: rgba(49, 29, 1, 0.253);
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-top: 10px;
  width: 300px;
}

.recipe-card h2 {
  background-color: rgba(80, 49, 6, 0);
  color: black;
  font-weight: 900;
  padding: 10px 0 0 10px;
  width: 100%;
}

.recipe-card img {
  width: 275px;
}
