* {
  background-color: rgb(254, 251, 246);
}

.container-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.container-recipes a {
  text-decoration: none;
}

.recipe-card {
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 250px;
}

.recipe-card h2 {
  color: rgb(54, 53, 51);
  font-weight: 900;
  margin: 0;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.recipe-card img {
  width: 250px;
}
