* {
  background-color: rgb(254, 251, 246);
}

.main-container-details {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

.main-container-details h1 {
  font-size: 2em;
  font-weight: 900;
  margin: 0;
}

.main-container-details h2 {
  font-size: 1.3em;
}

.main-container-details h3 {
  font-weight: 900;
}

.main-container-details h4 {
  color: rgb(126, 126, 126);
  font-size: 1.1em;
}

.main-container-details img {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  margin-bottom: 30px;
  width: 100%;
}

.main-container-details ul {
  margin-bottom: 30px;
}

.main-container-details p {
  font-size: 16px;
  margin-bottom: 30px;
  padding: 0 10px;
  text-align: justify;
}

.main-container-details iframe {
  height: 280px;
  margin-bottom: 30px;
  width: 100%;
}

.main-container-details .carousel {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  height: 225px;
  justify-content: start;
  margin-bottom: 20px;
  overflow-x: scroll;
  width: 100%;
}

.main-container-details .useful-btns {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.main-container-details .useful-btns button {
  border: none;
}

.main-container-details .useful-btns img {
  box-shadow: none;
  margin: 0;
  width: 35px;
}

.main-container-details .useful-btns span {
  bottom: 7px;
  color: rgb(222, 87, 57);
  left: 4px;
  position: relative;
}

.main-container-details .start-recipe-btn {
  bottom: 0;
  left: 18px;
  position: fixed;
  width: 90%;
}

