.recipe-card img {
  width: 200px;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}

.carousel {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  height: 225px;
  justify-content: start;
  overflow-x: scroll;
  width: 360px;
}

.checked-ingredient {
  text-decoration: line-through;
  color: grey;
}

.useful-btns {
  margin-bottom: 100px;
}

footer {
  background-color: lightblue;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
